@model CambioPassModel

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager;

@{
    ViewData["Title"] = "Rummet / Cambiar contraseña";
    Layout = "_NavUsuarios";
}




<!--HEAD ELEMENTS/////////////////////////////////////////////////////////////////-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_administracion</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/e43b4d35fb.js" crossorigin="anonymous"></script>
   
    

  
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/imagen-logo/logo_oficial.png">
    <link rel="stylesheet" href="~/css/main.css">





    <link rel="stylesheet" href="~/css/estilosGenerales.css" />
    <link rel="stylesheet" href="~/css/cContraseña.css" />



    <link href="~/assets/css/material-bootstrap-wizard.css" rel="stylesheet">
    <link href="~/assets/css/material-bootstrap-wizard-2.css" rel="stylesheet">

</head>

<!--CONTENIDO DE LA PAGINA -->

<!--animacion-->
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<!--MAIN CONTAINER///////////////////////////////////////////////////////////////////////////////-->
<h4 class="ms-4 tituloVista">Cambiar contraseña</h4>
<div class="container-fluid contenedorGeneralBlanco mt-3 mx-auto w-50 " style="margin: 0px 2rem;" >

<div class=" row ">
   
  <div class="">

    <form asp-controller="Accesos" asp-action="CambiarPassword" method="post">

         <input type="hidden" name="email" value="@UserManager.GetUserName(User)"/>

            <div class="text-danger"></div>
            
            
                <div class="">

                    <div class="mb-3 mt-4 mx-4 form-group label-floating is-empty">
                   
                        <p class="text-danger msnContraseña" style="text-align:justify">La contraseña debe tener al menos 8 caracteres, un valor alfanumérico, un caracter especial y al menos 1 caracter en mayúsculas.</p>

<br />
                        <label class="mb-2 mt-3 color_letter2 size-text control-label" style="font-size: 22px;">Nueva contraseña </label>
                     
                        <input asp-for="Password" type="password" id="Pass1" class="form-control mt-3 mx-3 w-75" placeholder="Ingrese su nueva contraseña" />
                        <span class="password-toggle" onclick="togglePasswordVisibility()"><i class="far fa-eye"></i></span>
                        <span  class="text-danger"></span>
                    </div>



                    <div class="mb-3 mt-4 mx-4 form-group label-floating is-empty">
                        <label asp-for="ConfirmPassword" class="mb-2 color_letter2 size-text control-label" style="font-size: 22px;"></label>
                        <input type="password" asp-for="ConfirmPassword" class="form-control  mt-3 mx-3 w-75" id="Pass2" placeholder="Ingresa la confirmación de contraseña" />
                        <span class="password-toggle2" onclick="togglePasswordVisibility2()" style="top:67%;"><i class="far fa-eye"></i></span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>     

                </div>
             
           

                <div class="d-flex justify-content-end ms-auto offset-2 mb-4">
                     <button type="submit" class="btn btn-danger  ">Cambiar contraseña <i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
          

        </form>
  </div>
  
  
</div>
</div>


<!--SCRIPTS SECCION ///////////////////////////////////////////////////////////////////////-->
<script src="~/js/script.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/assets/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/main.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="~/js/locales-all.js"></script>



<script>

    $(function () {
        var failedMessage = '@TempData["FailedMessage"]';
             if (failedMessage) {

            
            Swal.fire({
                icon: 'error',
                html: 'La contraseña debe llevar 8 caracteres, una mayúscula, un número y un caracter especial.'
            });
        }

    })
</script>

<script>

    $(function () {
        $('#Pass1').on('keypress', function (e) {
            if (e.which == 32)
                return false;
        });
        $('#Pass2').on('keypress', function (e) {
            if (e.which == 32)
                return false;
        });
    });

</script>


<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("Pass1");
        var passwordToggle = document.querySelector(".password-toggle");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggle.innerHTML = '<i class="far fa-eye-slash"></i>'; // Cambia el icono a un ojo tachado
        } else {
            passwordInput.type = "password";
            passwordToggle.innerHTML = '<i class="far fa-eye"></i>'; // Cambia el icono a un ojo
        }
    }
    function togglePasswordVisibility2() {
        var passwordInput = document.getElementById("Pass2");
        var passwordToggle = document.querySelector(".password-toggle2");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggle.innerHTML = '<i class="far fa-eye-slash"></i>'; // Cambia el icono a un ojo tachado
        } else {
            passwordInput.type = "password";
            passwordToggle.innerHTML = '<i class="far fa-eye"></i>'; // Cambia el icono a un ojo
        }
    }
</script>